.loginContainer {
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }
  
  .formGroup {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button,
  .secondaryButton {
    width: 325px;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 16px;
    cursor: pointer;
    display: block;
  }
  
  .button {
    background-color: #007AFF;
    color: white;
    border: none;
    align-items: center;
  }
  
  .secondaryButton {
    background-color: transparent;
    border: 1px solid #007AFF;
    color: #007AFF;
    align-items: center;
  }
  
  /* Really nice sign up hover color */
  .secondaryButton:hover {
    background-color: rgba(0, 122, 255, 0.1);
  } 
  
  .buttonSpacing {
    margin-bottom: 15px;
    
  } 